.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;

  &__wrapper {
    display: flex;
    gap: 4px;
  }

  &__icon {
    display: flex;
    width: 7px;
    height: 17px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba($black, 0.85);
  }


  &__error-text {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $radical-red;
    bottom: -23px;
  }

}
