// Задний полупрозрачный фон, блокирующий клики по странице
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  background-color: $white;
  padding: 45px 0 60px 0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba($black, 0.15);
  max-width: 695px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scaleUp 0.2s ease-out;
}

.modal-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: $nero;

     @include vp-767 {
      font-size: 18px;
    }
}

.modal-btn {
  position: absolute;
  cursor: pointer;
  top: 9px;
  right: 8px;
  padding: 6px 5px;

  &__icon {
    width: 12px;
    height: 13px;
    color: $black;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
