// Цвета
$snow: #f9f9f9;
$white: #ffffff;
$nero: #141414;
$grey:#868383;
$orange: #FFA902;
$black: #000;
$tangerine: #e45000;
$radical-red: #ff4d4f;
$lavender: #E5E5EA;
$gainsboro: #D9D9D9;
$nero-black: #262626;
$silver: #BDBDBD;


// Typography

//$ff-play: "Play", sans-serif;
//$ff-play: var(--font-play), sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition-500: ease 0.5s;
$transition-800: ease 0.8s;
$transition-out: ease-out 0.8s;
